*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: #fdf5e6;
  color: #111;
  overflow-x: visible;
  margin: 0;
}


.hero {
  position: relative;
  height: 100vh;
  background: url(https://64.media.tumblr.com/4de12a4576ea032818bc96bca3143923/6a03385469481121-43/s1280x1920/eedd35ea2c3dc8ddb9e2d8744505e117dfcb9749.pnj) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  color: #fff;
  max-width: 500px;
  z-index: 2;
}

.byline {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero h1 {
  font-family: 'Alice', serif;
  font-style: bold;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.intro-text {
  margin: 1rem 0 2rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background: #000;
  color: #fff;
  padding: 5rem 5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #444;
}
