html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdf5e6;
  color: #111;
  overflow-x: visible;
  margin: 0;
}

.hero {
  position: relative;
  margin-top: 80px;
  padding-bottom: 350px;
  background: url(https://64.media.tumblr.com/4de12a4576ea032818bc96bca3143923/6a03385469481121-43/s1280x1920/eedd35ea2c3dc8ddb9e2d8744505e117dfcb9749.pnj) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.hero-content {
  padding-top: 10%;
  margin: 50%;
  position: relative;
  color: #fff;
  max-width: 700px;
  z-index: 2;
}

.byline {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-top: 140px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.intro-text {
  margin: 1rem 0 2rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background: #000;
  color: #fff;
  padding: 5rem 5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #444;
}

/* NAVIGATION */
nav {
  background: #000;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #d1cfcf;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(8px);
  padding: 1rem 0;
  transition: 0.3s ease;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d1cfcf;
}


.home-btn {
  padding: 0.5rem 1rem;
  background: #000000;
  color: #000;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background: #e0e0e0;
}

.artist-works {
  padding-top: 50%;
  padding: 5rem 0rem;
  text-align: center;
  position: relative;
  height: 0vh;
}

.collective-works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 900px;
  margin: 1rem auto 3rem;
  text-align: left;

}

.collective-line {
  flex: 1;
  height: 2px;
  background-color: #111;
  min-width: 100px;
}

.collective-text {
  flex: 2;
  max-width: 600px;
}

.collective-text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.collective-text p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #333;
}

/* ===== WORKS ===== */
.carousel {
  max-width: 900px;
  margin: 3rem auto;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  height: 50px;
  width: 20px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ffd364;
  border-radius: 500px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #bc841c;
}

.carousel-track {
  display: flex;
  gap: 1rem;
}

.slide {
  flex: 0 0 50%;
  scroll-snap-align: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 0%;
}

.slide img {
  width: 80%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.slide img:hover {
  transform: scale(1.05);
}

header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #151517;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000; 
}


.nav-btn {
  background-color: #fff7e5;
  color: #151517;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 40px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: #fff7e5;
}

.nav-btn.active {
  background-color: #fff7e5;
}

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: brightness(70%);
  top: 0;
  left: 0;
  z-index: 1;
}

.hero h1 {
  position: relative;
  font-size: 70px;
  color: #fff7e5;
  font-weight: 800;
  z-index: 2;
}

/* About content */
.about-content {
  height: auto;
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 500px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* Alternate layout automatically */
.about-row:nth-type(even) {
  flex-direction: row-reverse;
}

.about-text {
  flex: 1;
}

.about-text h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-text p {
  font-weight: 500;
  max-width: 400px;
  line-height: 1.6;
  font-family: "Alice", serif;
}

.about-photo {
  flex: 1;
  width: 350px;
  height: 350px;
  background-color: #151517;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s ease;
}

.about-row:nth-of-type(1) .about-photo {
  background-image: url(https://github.com/09256781216gesef-cpu/WEBDEVPORTFOLIO/blob/main/About/575842412_2296615004094733_1777014527915188657_n.jpg?raw=true);
}

.about-row:nth-of-type(2) .about-photo {
  background-image: url(https://github.com/09256781216gesef-cpu/WEBDEVPORTFOLIO/blob/main/About/566547350_822371213617378_2260386866025684108_n.jpg?raw=true);
}

.about-row:nth-of-type(3) .about-photo {
  background-image: url("IMG_9911.HEIC");
}


.about-photo:hover {
  transform: scale(1.08);
}

/* Footer */
footer {
  background-color: #151517;
  color: #fff7e5;
  text-align: center;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socials {
  margin-top: 10px;
}

.socials a {
  color: #fff7e5;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.socials a:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }
  .art-row {
    flex-direction: column;
  }
  .slide img {
    height: 300px;
  }
  
.about-row {
    flex-direction: column;
    text-align: center;
  }

   .about-photo {
    width: 80%;
    height: 280px;
    margin: 20px auto;
  }

  .about-text p {
    max-width: 100%;
  }
  
}
