/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "league spartan", sans-serif;
  background-color: #fff7e5;
  color: #151517;
}

/* Navigation */
header {
  position: fixed; /* keeps it visible while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #151517;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* makes sure it stays above everything else */
}


.nav-btn {
  background-color: #fff7e5;
  color: #151517;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 40px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: #fff7e5;
}

.nav-btn.active {
  background-color: #fff7e5;
}

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  top: 0;
  left: 0;
  z-index: 1;
}

.hero h1 {
  position: relative;
  font-size: 70px;
  color: #fff7e5;
  font-weight: 800;
  z-index: 2;
}

/* About content */
.about-content {
  width: 90%;
  max-width: 1200px;
  margin: 500px auto;
  display: flex;
  flex-direction: column;
  gap: 500px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* Alternate layout automatically */
.about-row:nth-type(even) {
  flex-direction: row-reverse;
}

.about-text {
  flex: 1;
}

.about-text h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-text p {
  font-weight: 500;
  max-width: 400px;
  line-height: 1.6;
  font-family: "Alice", serif;
}

.about-photo {
  flex: 1;
  width: 350px;
  height: 350px;
  background-color: #151517;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s ease;
}

.about-row:nth-of-type(1) .about-photo {
  background-image: url("566547350_822371213617378_2260386866025684108_n.jpg");
}

.about-row:nth-of-type(2) .about-photo {
  background-image: url("575842412_2296615004094733_1777014527915188657_n.jpg");
}

.about-row:nth-of-type(3) .about-photo {
  background-image: url("IMG_9911.HEIC");
}


.about-photo:hover {
  transform: scale(1.08);
}

/* Footer */
footer {
  background-color: #151517;
  color: #fff7e5;
  text-align: center;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socials {
  margin-top: 10px;
}

.socials a {
  color: #fff7e5;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.socials a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .about-row {
    flex-direction: column;
    text-align: center;
  }

   .about-photo {
    width: 80%;
    height: 280px;
    margin: 20px auto;
  }

  .about-text p {
    max-width: 100%;
  }
}
