
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #fff7e5;
  color: #151517;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%); 
  top: 0;
  left: 0;
  z-index: 1;
}

.hero h1 {
  position: relative;
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  z-index: 2;
  text-align: center;
}


header {
  position: fixed; /* keeps it visible while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #151517;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* makes sure it stays above everything else */
}


.nav-btn {
  background-color: #fff7e5;
  color: #151517;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 40px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: #fff7e5;
}

.nav-btn.active {
  background-color: #fff7e5;
}




.artist-works {
  padding: 10rem 0rem;
  text-align: center;
  position: relative;
  height: 0vh;
  background: url(https://64.media.tumblr.com/5bfcf544ac65271964ecba39ad438c24/5bfd48510f8b8bf9-0e/s1280x1920/3056e784424abfa251eee0de9161da7e8d417be7.pnj) center/cover no-repeat;
}

.collective-works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 900px;
  margin: 15rem auto 3rem;
  text-align: left;

}

.collective-line {
  flex: 1;
  height: 2px;
  background-color: #111;
  min-width: 100px;
}

.collective-text {
  flex: 2;
  max-width: 600px;
}

.collective-text h3 {
  font-family: 'Alice', serif;
  font-style: bold;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.collective-text p {
  line-height: 1.6;
  color: #333;
}

/* ===== WORKS ===== */
.carousel {
  max-width: 900px;
  margin: 3rem auto;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  height: 20px;
  width: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ffd364;
  border-radius: 500px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #bc841c;
}

.carousel-track {
  display: flex;
  gap: 1rem;
}

.slide {
  flex: 0 0 50%;
  scroll-snap-align: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 0%;
}

.slide img {
  width: 80%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.slide img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #151517;
  color: #fff7e5;
  text-align: center;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socials {
  margin-top: 10px;
}

.socials a {
  color: #fff7e5;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.socials a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .slide img {
    height: 300px;
  }


}